body {
  font-family: "Raleway", sans-serif;
  background-image: src("RickAndMorty.jpg");
  background-repeat: no-repeat;
}

.main-header {
  text-align: center;
}

.main-header img {
  background-position: center center;
  max-height: 200px;
  max-width: 100%;
}

.container {
  margin: 0px 120px 0px 120px;
  display: flex;
  justify-content: center;
}

.main-header h2 {
  font-size: 4rem;
  font-weight: normal;
  color: #35c9dd;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  size: 1rem;
}

.scoring {
  display: flex;
  justify-content: space-between;
  color: #35c9dd;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
}

.grid div {
  border-radius: 10%;
  border: 2px solid white;
  /* height: 130px;
    width: 130px; */
  line-height: 120px;
  text-align: center;
  background-color: #35c9dd;
  font-size: 5rem;
  color: pink;
}

.RickSanchez {
  display: flex;
  justify-content: flex-start;
}

.RickSanchez img {
  width: 15em;
  height: 15em;
}

.RickSanchez span {
  text-align: right;
}

.MortySmith {
  display: flex;
  justify-content: flex-end;
}

.MortySmith img {
  width: 15em;
  height: 15em;
}

.player {
  display: flex;
  flex-direction: column;
}

.player span {
  font-size: 2rem;
  color: #35c9dd;
}

#startgame {
  font-size: 3rem;
  padding: 0.5rem;
  text-align: center;
  color: #35c9dd;
  background-color: mistyrose;
  border-radius: 20%;
}

footer {
  display: flex;
  justify-content: center;
}
